<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	
	<typeAliases>
		<typeAlias type="com.dabom.dto.Member" alias="Member"/>
		<typeAlias type="com.dabom.dto.Message" alias="Message" />
		<typeAlias type="com.dabom.dto.MyChannel" alias="MyChannel" />
		<typeAlias type="com.dabom.dto.WebtoonBoard" alias="WebtoonBoard"/>
		<typeAlias type="com.dabom.dto.WebtoonBoardAttach" alias="WebtoonBoardAttach"/>
		<typeAlias type="com.dabom.dto.WebtoonListByTitle" alias="WebtoonListByTitle"/>
		<typeAlias type="com.dabom.dto.WebtoonListByTitleAttach" alias="WebtoonListByTitleAttach"/>
		<typeAlias type="com.dabom.dto.WebtoonListByTitleComment" alias="WebtoonlistByTitleComment"/>
	</typeAliases>

	<mappers>	
		<mapper resource="com/dabom/mapper/MemberMapper.xml"/>
		<mapper resource="com/dabom/mapper/MessageMapper.xml" />
		<mapper resource="com/dabom/mapper/MyChannelMapper.xml" />
		<mapper resource="com/dabom/mapper/WebtoonMapper.xml"/>
	</mappers>
</configuration>