<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dabom.mapper.MessageMapper">
	
	<select id="selectAllReceiveMessage" parameterType="hashMap" resultType="Message">
		SELECT message_no, message_title, message_content, send_date, sender, receiver, message_delete 
		FROM message 
		WHERE receiver = #{receiver} AND message_delete = FALSE
		ORDER BY send_date DESC
		LIMIT #{from} , #{sendCount}
	</select>	
		
	<select id="selectAllSendMessage" parameterType="hashMap" resultType="Message">
		SELECT message_no, message_title, message_content, send_date, sender, receiver, message_delete 
		FROM message 
		WHERE sender = #{sender} AND message_delete = FALSE
		ORDER BY message_no DESC
		LIMIT #{from} , #{sendCount}
	</select>	
		
	<select id="selectReceiveMessageDelete" parameterType="String" resultType="Message">
		SELECT message_no, message_title, message_content, send_date, sender, receiver, message_delete 
		FROM message 
		WHERE receiver = #{receiver} AND message_delete = true
		ORDER BY send_date DESC
	</select>
	<select id="selectSendMessageDelete" parameterType="String" resultType="Message">
		SELECT message_no, message_title, message_content, send_date, sender, receiver, message_delete 
		FROM message 
		WHERE sender = #{sender} AND message_delete = true
		ORDER BY send_date DESC
	</select>		
			
 	<select id="selectMessageReceiveCount" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM message 
		where receiver = #{receiver} AND message_delete = FALSE
	</select>
	
	<select id="selectMessageSendCount" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM message 
		where sender = #{sender} AND message_delete = FALSE
	</select>
	
	<select id="selectReceiveMessageDeleteCount" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM message 
		where receiver = #{receiver} AND message_delete = TRUE
	</select>
	
	<select id="selectSendMessageDeleteCount" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		FROM message 
		where sender = #{sender} AND message_delete = TRUE
	</select>

	<insert id="insertMessage" parameterType="Message">
		<selectKey keyProperty="message_No" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()		
		</selectKey>		
		INSERT INTO message (message_title, receiver, sender, message_content)
		VALUES ( #{message_Title}, #{receiver}, #{sender}, #{message_Content} )
	</insert>
	
	<insert id="insertDirectMessage" parameterType="Message">
		<selectKey keyProperty="message_No" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()		
		</selectKey>		
		INSERT INTO message (message_title, receiver, sender, message_content)
		VALUES ( #{message_Title}, #{receiver}, #{sender}, #{message_Content} )
	</insert>
		
	<select id="selectReceiver" resultType="Member">
		SELECT memberid	FROM member		
	</select>
	
	<select id="selectByMessageNo" parameterType="int" resultType="Message">
		SELECT message_no, message_title, message_content, send_date, sender, receiver, message_delete 
		FROM message 
		WHERE message_no = #{message_No}
	</select>
	
	<delete id="deleteByMessageNo" parameterType="int">
		UPDATE message
		SET message_delete = TRUE 
		WHERE message_no = #{message_No}
	</delete>
		
</mapper>
 				 