<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				 
<mapper namespace="com.dabom.mapper.MyChannelMapper">

	<insert id="insertMyChannel" parameterType="MyChannel">		
		INSERT INTO channel (member_id, channel_name, channel_info)
		VALUES ("${member_Id}", "${channel_Name}", "${channel_Info}")
	</insert>
	
	<select id="selectMyChannel" parameterType="String" resultType="MyChannel">
		SELECT member_id, channel_name, channel_info
		FROM channel
		WHERE member_id = "${member_Id}"
	</select>

</mapper>