<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				 
<mapper namespace="com.dabom.mapper.VideoUploadMapper">

	<insert id="insertVideo" parameterType="com.dabom.dto.VideoUpload">
		INSERT INTO upload_video (video_title, member_id, content, video_file_name, video_saved_name, thumbnail_file_name, thumbnail_saved_name)
		VALUES (#{videoTitle}, #{memberId}, #{content}, #{videoFileName}, #{videoSavedName}, #{thumbnailFileName}, #{thumbnailSavedName})
	</insert>

</mapper>