<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.dabom.mapper.WebtoonMapper">
  
  	<insert id="insertWebtoonBoard" parameterType="WebtoonBoard">
  		<selectKey keyProperty="boardNo" resultType="int" order="AFTER"> SELECT LAST_INSERT_ID()</selectKey>
	  	INSERT INTO webtoon_board (title, memberid)
	  	VALUES(#{title}, #{memberId})
  	
  	</insert>
  	<insert id="insertWebtoonBoardAttach" parameterType="WebtoonBoardAttach">
  		<selectKey keyProperty="attachNo" resultType="int" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
  		INSERT webtoon_boardattach (boardno, userfilename, savedfilename)
  		VALUES (#{boardNo}, #{userFileName}, #{savedFileName})
  	</insert>
  
  	<select id="selectAll" resultType="WebtoonBoard">
  		SELECT boardno, title, memberid, readcount, regdate, deleted
  		FROM webtoon_board
  		ORDER BY boardno DESC
  	
  	</select>
  	
  	<select id="selectByRange" parameterType="hashmap" resultType="WebtoonBoard">
		SELECT boardno, title, memberid, readcount, regdate, deleted
		FROM webtoon_board
		ORDER BY boardno DESC
		LIMIT #{from}, #{count}
	</select>
	
	<select id="selectBoardAttachByBoardNo" parameterType="int"
											resultType="WebtoonBoardAttach">
		SELECT attachno, boardno, userfilename, savedfilename
		FROM webtoon_boardattach
		WHERE boardno = #{boardNo}
	</select>
  	
  	<select id="selectBoardCount" resultType="int">
		SELECT COUNT(*) FROM webtoon_board
	</select>
  	
  	<select id="selectByBoardNo" parameterType="int" resultType="WebtoonBoard">
		SELECT boardno boardNo, title, memberid, readcount, regdate
		FROM webtoon_board
		WHERE boardno = #{boardNo} AND deleted = FALSE
	</select>
	
	<insert id="insertWebtoonBoardByTitle" parameterType="WebtoonListByTitle">
		<selectKey keyProperty="number" resultType="int" order="AFTER"> SELECT LAST_INSERT_ID()</selectKey>
	  	INSERT INTO webtoonlistbytitle (boardno, title, memberid, content)
	  	VALUES(#{boardNo}, #{title}, #{memberId}, #{content})
	</insert>
	
	<insert id="insertWebtoonBoardbyTitleAttach" parameterType="WebtoonListByTitleAttach">
  		<selectKey keyProperty="attachNo" resultType="int" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
  		INSERT webtoonlistbytitleattach (boardno, userfilename, savedfilename, number)
  		VALUES (#{boardNo}, #{userFileName}, #{savedFileName}, #{number})
  	</insert>
  	
  	<select id="webtoonListByTitleSelectAll" resultType="WebtoonListByTitle" parameterType="int">
  		SELECT number, boardno, title, memberid, readcount, regdate, deleted, content
  		FROM webtoonlistbytitle
  		WHERE boardno = #{ boardNo }
  		ORDER BY number DESC
  	</select>
  	
  	<select id="findByNumber" parameterType="int" resultType="WebtoonListByTitle">
  		SELECT number, boardno, title, memberid, readcount, regdate, deleted, content
  		FROM webtoonlistbytitle
  		WHERE number = #{ number }
  	</select>
  
  	<select id="webtoonListByTitleSelectByNumber" parameterType="hashmap" resultType="WebtoonListByTitleAttach">
  		SELECT attachno, boardno, userfilename, savedfilename
		FROM webtoonlistbytitleattach
		WHERE boardno = #{boardNo} AND number= #{number}
  	</select>
  	
  	<select id="webtoonByTitlefindAttach" parameterType="int" resultType="WebtoonListByTitleAttach">
  		SELECT attachno, boardno, userfilename, savedfilename
		FROM webtoonlistbytitleattach
		WHERE number= #{number}
  	</select>
  	
  	<delete id="delete" parameterType="int">
  		DELETE FROM webtoonlistbytitle
		WHERE number = #{number}
  	</delete>
  	
  	
  	<delete id="deleteAttach" parameterType="int">
  	 DELETE FROM webtoonlistbytitleattach
  	 WHERE number = #{number}
  	</delete>
  	
  	<update id="update" parameterType="webtoonListByTitle">
  		UPDATE webtoonlistbytitle
  		SET title = #{title}
  		WHERE number = #{number}
  	</update>
  	
  	<update id="updateReadCount" parameterType="webtoonListByTitle">
  		UPDATE webtoonlistbytitle
  		SET readcount = readcount + 1
  		WHERE number = #{number}
  	</update>
  	
  	<update id="updateWebtoonBoardByTitle" parameterType="WebtoonListByTitleAttach">
  		UPDATE webtoonlistbytitleattach
  		SET userfilename = #{userFileName}, savedfilename = #{savedFileName}
  		WHERE attachno = #{attachNo}
  	</update>
  	
  	<!-- 댓글 -->
  	
  	  	<insert id="insertWebtoonComment" parameterType="WebtoonListByTitleComment"
				useGeneratedKeys="true" keyColumn="commentno" keyProperty="commentNo">
			INSERT INTO webtoonlistbytitlecomment (number, writer, content)
			VALUES (#{number}, #{writer}, #{content})
		</insert> 
		
		<select id="selectCommentsByNumber" parameterType="int" resultType="WebtoonListByTitleComment">
			SELECT commentno, number, writer, content, regdate
			FROM webtoonlistbytitlecomment
			WHERE number = #{number}
		</select>	
  	
  </mapper>